<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

  <%= image_tag(attachments.inline['hero.jpg'].url, width: 600) %>

  <div style="width: 300px; font-weight: normal; font-size: 16px; line-height: 1.4em; font-family: Arial, Helvetica, sans-serif; color: #000;">

    <div style="margin-top: 30px; margin-bottom: 30px;">
      <%= image_tag(attachments.inline['logo.png'].url, height: 32) %>
    </div>

    <p>Thank you for your interest in 200 E 62. A member of our sales team will get back to you shortly. You may also contact the Sales Gallery at 212 753 6200 for further information or to schedule an appointment.</p>

    Regards,<br />
    <br />
    200 E 62 Sales Team
  </div>

</body>
</html>