.feature-block {
  @extend %c4;
  margin: 0 0 $medium_margin;

  .image {
    overflow: hidden;
    height: 500px;
    background-color: $light_gray;
    background-repeat: no-repeat;
    background-position: center center;
    &.pin-bottom { background-position: center bottom; }
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;

    img {
      opacity: 0 !important;
      width: 100%;
      height: 100%;
    }
  }
}
