.video-js .vjs-control-bar {
  @include display-flex;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 1.6em;

  @include background-color-with-alpha($primary-background-color, $primary-background-transparency);
}

.vjs-fullscreen .vjs-control-bar {
  top: auto;
  bottom: 0;
  padding-top: 1.4em;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0em;
  margin-top: 0;
  height: 5.4em;
  transform: translate3d(0, 0, 0);
}

.vjs-controls-disabled .vjs-control-bar,
.vjs-using-native-controls .vjs-control-bar,
.vjs-error .vjs-control-bar {
  // !important is ok in this context.
  display: none !important;
}

// Don't hide the control bar if it's audio
.vjs-audio.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
  opacity: 1;
  visibility: visible;
}

// IE8 is flakey with fonts, and you have to change the actual content to force
// fonts to show/hide properly.
// - "\9" IE8 hack didn't work for this
// Found in XP IE8 from http://modern.ie. Does not show up in "IE8 mode" in IE9
$ie8screen: "\0screen";
.vjs-user-inactive.vjs-playing .vjs-control-bar :before {
  @media #{$ie8screen} { content: ""; }
}

// IE 8 + 9 Support
.vjs-has-started.vjs-no-flex .vjs-control-bar {
  display: table;
}
