<div class="content-block <%= css_class(cb) %>" id="<%= css_id(cb) %>">
  <div class="video-block__player">
    <video class="video-player video-js"
           controls
           preload="auto"
           poster="https://i.vimeocdn.com/video/614882892_1920x1080.jpg">
      <source src="https://player.vimeo.com/external/200748700.hd.mp4?s=20b22becafe59980e1689321c909f1ea9f7c7183&profile_id=119" type='video/mp4'>

      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
      </p>
    </video>
  </div>
</div>
