<div class="field">
  <%= field.text_field :title, placeholder: 'Title' %>
  <%= field.rich_text_area :body, placeholder: 'Body' %>

  <div class="field">
    <%= field.check_box :hidden %>
    <%= field.label :hidden, 'Hide from page?' %>
  </div>
</div>