<div class="field">
  <%= field.image_field :image %>
</div>

<div class="field">
  <%= field.rich_text_area :text, placeholder: 'Text' %>
</div>

<div class="field">
  <%= field.rich_text_area :footnotes, placeholder: 'Text' %>
</div>
